<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @user.player.nil? %>
        <%= link_to "Getting Started", new_player_path %>
      <% else %>
        <h1>
          <%= @user.player.nickname %>
        </h1>
        <%= link_to "edit", edit_player_path(@user.player) %>
        |
         <%= link_to "delete", @user.player, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{ @user.player.nickname}" %>
      <% end%>
    </td>
  </tr>
</table>