<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
  <tr>
    <% if @user.player.nil? %>
      <%= link_to "Getting Started", new_player_path %>
    <% else %>
    <td>
      <h1>
        <%= @user.player.nickname %>
      </h1>
      <%= link_to "Creer un tournoi", root_path %>
    </td>
    <td>
      <%= link_to "edit", edit_player_path(@user.player) %>
      |
        <%= link_to "delete", @user.player, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{ @user.player.nickname}" %>
    <% end%>
    </td>
  </tr>
  <tr>
    <td class="main">
      <% if @user.player && @user.player.tournaments.any?%>
        <table class="tournaments" summary="Player tournaments">
          <%= render @tournaments %>
        </table>
        <%= will_paginate @tournaments %>
      <% end %>
    </td>
  </tr>
</table>